.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .nav-container{
    height: 120px;
  }

  .icon{
    color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  