.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .nav-container{
    height: 120px;
  }

  .icon{
    color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-size{
    height: 40px;
    width: 40px;
  }

  .nav-color{
    color: rgb(221, 147, 147);
  }

  ::ng-deep .navCss nav
{     color: #eee;
      font-family: sans-serif;
      background-color: #1a3e57;
      height: 50px;
}
  
.navCourse:hover{
  background-color: #508cb9;
  color: #e3f2fd;
}

.dropdown:hover .dropdown-menu {display: block;}

::ng-deep .main-name{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}