<ul class="navbar-nav ml-auto nav-flex-icons ">
    <a color="primary" class="waves-light m20-right" type="button" (click)="test.toggle()" mdbWavesEffect>
        Stream
        <mdb-icon fas icon="caret-down " class="m20-left"></mdb-icon></a>
      <div class="" mdbCollapse #test="bs-collapse">
        <p class="fm-container">
            <input class="checkbox" type="checkbox" id="studentName" name="studentName" formControlName="studentName">
            <label for="studentName">Engineering</label>
        </p>
        <p class="fm-container">
            <input class="checkbox" type="checkbox" id="studentName" name="studentName" formControlName="studentName">
            <label for="studentName">Arts</label>
        </p>
        <p class="fm-container">
            <input class="checkbox" type="checkbox" id="studentName" name="studentName" formControlName="studentName">
            <label for="studentName">Management</label>
        </p>
        <p class="fm-container">
            <input class="checkbox" type="checkbox" id="studentName" name="studentName" formControlName="studentName">
            <label for="studentName">Science</label>
        </p>
        <p class="fm-container">
            <input class="checkbox" type="checkbox" id="studentName" name="studentName" formControlName="studentName">
            <label for="studentName">Commerce</label>
        </p>
      </div>
  </ul>