.checkbox{
    margin-right: 10px;
}

.fm-container{
    
}

.m20-left{
    margin-left: 20px;
}

.m20-right{
    margin-right: 20px;
}

.height{
   height: 30px;
}

.filter-style{
    border-left-style: solid;
    border-radius: 1px;
    //border-color: rgb(241, 118, 101);
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 30px;
}

.caret{
    text-align: end;
}

.navbar-scroll{
    overflow: scroll !important; 
    height: 250px;
}