.home-container{
    padding-left: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #c6d9e7;
  };

.sidebar{
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
}
