.form-container{
    background-image:linear-gradient(rgb(159, 191, 228),rgba(7, 29, 43, 0.651));
    background-size: 90%;
    border-radius: 10px;
    min-height: 55vh;
    padding:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px;
    text-align: center;
    
}
.crediential-names{
    color:rgba(12, 11, 11, 0.959);
    font-family:"Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.warning-msg{
    font-family:"Roboto";
    font-size: 10px;
    margin:0px;
}

.bg-container{
    background-image:linear-gradient(rgb(159, 191, 228),rgba(7, 29, 43, 0.651));
    background-size: 100%;
    min-height: 100vh;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.warning-msg1{
    font-family:"Roboto";
    font-size: 12px;
    margin:0px;
}
