/* You can add global styles to this file, and also import other style files */
/* Color scheme for Angular Materials Styling - Menus Sidenavs, Toolbars */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*"~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*"~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*"~@angular/material/prebuilt-themes/purple-green.css";*/
/*"~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

/*This instruction is from web site https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/include-font-awesome.md*
@import "variables";
@import "~font-awesome/scss/font-awesome";*/
// @import "~angular-bootstrap-md/scss/bootstrap/bootstrap.scss";
/* getting Error in angular-bootstrap-md/scss/free/_forms.scss (5:3) property "input" must be followed by a ':'
so I'm commenting out the import for mdb-free for now */
// @import "~angular-bootstrap-md/scss/mdb-free.scss"; 


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
