<div class="container">

    <div *ngIf="stateCount > 0">
        <ul class="unordered-list">
            <li *ngFor="let college of filteredColleges$ | async" class="margin">
                <div class="jsx-1162254489 mb-4 college-listing-card  automate_client_img_snippet col-4">
                    <div class="   listing-block--default text-uppercase bg-white position-relative">
                        <div style="cursor: pointer;">
                            <div class="   top-block position-relative overflow-hidden"><img
                                    data-src="https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&amp;w=305&amp;mode=stretch"
                                    src="https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&amp;w=305&amp;mode=stretch"
                                    alt="undefined cover image" height="130px"
                                    class="jsx-1136940655 snippet-banner ls-is-cached lazyloaded">
                                <div class="img-overlay"></div>

                                <div class="   clg-name-address"><a data-ga-event-category="info"
                                        data-is-listing-college-card="true"
                                        class="   college_name m-0 text-white font-weight-bold text-md">
                                        <h3 class="   text-white font-weight-bold text-md m-0">{{college.collegeName }}
                                        </h3>
                                    </a></div>
                            </div>
                        </div>
                        <div class="   bottom-block w-100 position-relative">
                            <div class="   clg-head d-flex"><a
                                    title="IIM Bangalore - Indian Institute of Management logo"
                                    data-ga-event-category="info" data-is-listing-college-card="true"
                                    data-csm-title="IIM Bangalore - Indian Institute of Management, Bangalore"
                                    class="   clg-logo bg-white d-block" href="#"><img
                                        data-src="https://images.collegedunia.com/public/college_data/images/logos/col30730.png?h=40&amp;w=40&amp;mode=stretch"
                                        src="https://images.collegedunia.com/public/college_data/images/logos/col30730.png?h=40&amp;w=40&amp;mode=stretch"
                                        alt="IIM Bangalore - Indian Institute of Management logo" height="40px"
                                        class="jsx-2384918447  ls-is-cached lazyloaded"></a><span
                                    class="   location-badge"><span class="   mr-1"><span
                                            class="   icon svg-sm spirit-image3"></span> {{college.collegeLocation
                                        }}</span></span></div>
                            <ul
                                class="   clg-fee-review tile_details_div p-0 list-unstyled w-100 d-flex overflow-hidden">
                                <li class="   lr"><a data-ga-event-category="courses-fees"
                                        data-is-listing-college-card="true" class="pointer" href="#"><span
                                            class="lr-key text-lg text-primary d-block font-weight-bold">₹
                                            2,300,000</span><span title="MBA/PGDM - Total Fees"
                                            class="lr-value d-block fee"> MBA/PGDM - Total Fees </span></a></li>
                                <li class="   lr"><a data-ga-event-category="courses-fees"
                                        data-is-listing-college-card="true" class="   pointer" href="#"><span
                                            class="lr-key text-lg text-primary d-block font-weight-bold">₹
                                            2,320,000</span><span title="Executive MBA - Total Fees"
                                            class="lr-value d-block fee"> Executive MBA - Total Fees </span></a></li>
                                <li class="   lr"><a data-ga-event-category="reviews"
                                        data-is-listing-college-card="true" class="  " href="#"><span
                                            class="lr-key text-lg text-primary d-block font-weight-bold"> 9 / 10
                                        </span><span class="lr-value d-block fee">Based on 154 User reviews</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class=" media-rank"><a data-ga-event-category="rank" data-is-listing-college-card="true"
                                class="  " href="#"><span class="   rank-container pointer"><span
                                        class="rank-span">Ranked 1 out of
                                        50<div class="   rank-name">Financial Express</div></span></span></a></div>
                        <div class="   clg-links w-100 text-center px-2 py-0"><a
                                title="IIM Bangalore - Indian Institute of Management, Bangalore - Admission Details 2022"
                                data-ga-event-category="admission" data-is-listing-college-card="true"
                                class="   college_nav_tab first_tab hover-underline" href="#">Admission
                                2022</a><a title="IIM Bangalore - Indian Institute of Management, Bangalore - Reviews "
                                data-ga-event-category="reviews" data-is-listing-college-card="true"
                                class="   college_nav_tab first_tab hover-underline" href="#">Reviews</a><a
                                title="IIM Bangalore - Indian Institute of Management, Bangalore - Course &amp; Fees Details "
                                data-ga-event-category="courses-fees" data-is-listing-college-card="true"
                                class="   college_nav_tab first_tab hover-underline" href="#">Courses
                                &amp; Fees</a></div>
                        <div class="   d-flex align-items-center"><button type="button" data-csm-track="true"
                                data-csm-value="Apply" data-is-listing-college-card="true"
                                class="   clg-apply  apply-now-button d-flex align-self-center border text-uppercase"><span
                                    class="   pointer-none icon icon-white mr-1 spirit-image3"></span>Apply
                                Now</button><button type="button" data-csm-track="true" data-csm-value="Brochure"
                                data-is-listing-college-card="true"
                                class="   clg-brochure  download_brouchure border d-flex align-self-center bg-white text-uppercase "><span
                                    class="   pointer-none icon mr-1 spirit-image3"></span>Brochure</button></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="stateCount == 0">
        <ul class="unordered-list">
            <li *ngFor="let college of colleges$ | async" class="margin">
                <div class="jsx-1162254489 mb-4 college-listing-card  automate_client_img_snippet col-4">
                    <div class="   listing-block--default text-uppercase bg-white position-relative">
                        <div style="cursor: pointer;">
                            <div class="   top-block position-relative overflow-hidden"><img
                                    data-src="https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&amp;w=305&amp;mode=stretch"
                                    src="https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&amp;w=305&amp;mode=stretch"
                                    alt="undefined cover image" height="130px"
                                    class="jsx-1136940655 snippet-banner ls-is-cached lazyloaded">
                                <div class="   img-overlay"></div>
                                <div class="   clg-name-address"><a
                                        class=" college_name m-0 text-white font-weight-bold text-md">
                                        <h3 class=" text-white font-weight-bold text-md m-0">{{college.collegeName }}
                                        </h3>
                                    </a></div>
                            </div>
                        </div>
                        <div class="bottom-block w-100 position-relative">
                            <div class="clg-head d-flex"><a title="IIM Bangalore - Indian Institute of Management logo"
                                    data-ga-event-category="info" data-is-listing-college-card="true"
                                    data-csm-title="IIM Bangalore - Indian Institute of Management, Bangalore"
                                    class="clg-logo bg-white d-block" href="#"><img
                                        data-src="https://images.collegedunia.com/public/college_data/images/logos/col30730.png?h=40&amp;w=40&amp;mode=stretch"
                                        src="https://images.collegedunia.com/public/college_data/images/logos/col30730.png?h=40&amp;w=40&amp;mode=stretch"
                                        alt="IIM Bangalore - Indian Institute of Management logo" height="40px"
                                        class="ls-is-cached lazyloaded"></a>
                                <span class="location-badge"><span class=" location mr-1">
                                        <mdb-icon fas icon="map-marker-alt" class="location-icon"></mdb-icon>
                                        {{college.collegeLocation
                                        }}
                                    </span></span>
                            </div>
                            <ul class="clg-fee-review tile_details_div p-0 list-unstyled w-100 d-flex">
                                <li class="lr"><a data-ga-event-category="courses-fees"
                                        data-is-listing-college-card="true" class="pointer"><span
                                            class="lr-key text-lg text-primary d-block font-weight-bold">₹
                                            2,300,000</span><span title="MBA/PGDM - Total Fees"
                                            class="lr-value d-block fee"> MBA - avg fee </span></a></li>
                                <li class="lr"><a data-ga-event-category="courses-fees"
                                        data-is-listing-college-card="true" class=" pointer"><span
                                            class=" text-lg text-primary font-weight-bold">₹
                                            2,320,000</span><span title="Executive MBA - Total Fees" class="  fee"> UG -
                                            avg fee</span></a></li>
                                <li class="lr"><a data-ga-event-category="reviews" data-is-listing-college-card="true"
                                        class=" pointer"><span
                                            class="lr-key text-lg text-primary d-block font-weight-bold"> ₹1,30,999
                                        </span><span class="fee lr-value d-block"> PG - avg fee</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="media-rank"><a data-ga-event-category="rank" data-is-listing-college-card="true"
                                class="  "><span class="rank-container pointer"><span class="rank-span">IIM
                                        Bangalore is the second-best NIRF rated bschool in the country and is regarded
                                        as the best management college in central Asia. IIM Bangalore MBA Final Results
                                        are out now. Shortlisted and waitlisted candidates can check their MBA admission
                                        status now. IIM Bangalore will conduct PGP & PGP BA Inauguration and Orientation
                                        Program from August 01-04.</span></span></a>
                        </div>

                        <div class="d-flex align-items-center "><button type="button" data-csm-track="true"
                                data-csm-value="Apply" data-is-listing-college-card="true"
                                class="   clg-apply  apply-now-button d-flex justify-content-center align-items-center align-self-center border text-uppercase"
                                (click)="openPopup()" mdbWavesEffect>
                                <mdb-icon fas icon="external-link-square-alt" class="icon"></mdb-icon>Visit
                                Now
                            </button>

                            <button type="button" data-csm-track="true" data-csm-value="Brochure"
                                data-is-listing-college-card="true"
                                class="   clg-brochure  download_brouchure border d-flex align-self-center bg-white text-uppercase "><span
                                    class="   pointer-none icon mr-1 spirit-image3"></span>more details</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<!-- <div class="jsx-1162254489 mb-4 college-listing-card  automate_client_img_snippet col-4">
    <div class="   listing-block--default text-uppercase bg-white position-relative">
        <div style="cursor: pointer;">
            <div class="   top-block position-relative overflow-hidden"><img
                    data-src="https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&amp;w=305&amp;mode=stretch"
                    src="https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&amp;w=305&amp;mode=stretch"
                    alt="undefined cover image" height="130px"
                    class="jsx-1136940655 snippet-banner ls-is-cached lazyloaded">
                <div class="   img-overlay"></div>
                <div class="   d-flex justify-content-between">
                    <div class="   d-flex"><a data-ga-event-category="gallery"
                            data-is-listing-college-card="true" data-csm-title="gallery"
                            class="   data-icon position-relative d-block text-white font-weight-bold"
                            href="#"><span
                                class="   icon mr-1 text-svg gallery-svg spirit-image3"></span><span
                                class="  ">15</span></a><a data-ga-event-category="gallery"
                            data-is-listing-college-card="true" data-csm-title="gallery"
                            class="   data-icon position-relative d-block text-white font-weight-bold"
                            href="#"><span
                                class="   icon mr-1 text-svg video-svg spirit-image3"></span><span
                                class="  ">3</span></a></div><a
                        href="#">
                        <div data-csm-track="true" data-csm-href="javascript:void(0)"
                            class="   d-flex pointer"><span
                                class="   data-icon position-relative clg-reivew-ico spirit-image3 review-img"></span><span
                                class="   data-icon position-relative mr-0 d-block text-white font-weight-bold rating-container pointer"><span
                                    class="   sup-cript text-white font-weight-bold d-block text-right">Collegedunia
                                    Rating</span><span
                                    class="   rating-text text-white font-weight-bold text-base d-block text-right">10.0/10</span></span>
                        </div>
                    </a>
                </div>
                <div class="   clg-name-address"><a data-ga-event-category="info"
                        data-is-listing-college-card="true"
                        class="   college_name m-0 text-white font-weight-bold text-md"
                        href="#">
                        <h3 class="   text-white font-weight-bold text-md m-0">Bangalore</h3>
                    </a></div>
            </div>
        </div>
        <div class="   bottom-block w-100 position-relative">
            <div class="   clg-head d-flex"><a title="IIM Bangalore - Indian Institute of Management logo"
                    data-ga-event-category="info" data-is-listing-college-card="true"
                    data-csm-title="IIM Bangalore - Indian Institute of Management, Bangalore"
                    class="   clg-logo bg-white d-block"
                    href="#"><img
                        data-src="https://images.collegedunia.com/public/college_data/images/logos/col30730.png?h=40&amp;w=40&amp;mode=stretch"
                        src="https://images.collegedunia.com/public/college_data/images/logos/col30730.png?h=40&amp;w=40&amp;mode=stretch"
                        alt="IIM Bangalore - Indian Institute of Management logo" height="40px"
                        class="jsx-2384918447  ls-is-cached lazyloaded"></a><span
                    class="   location-badge"><span class="   mr-1"><span
                            class="   icon svg-sm spirit-image3"></span> IIM Banglore</span>&nbsp;<span class="  "><span
                            class="   icon svg-sm spirit-image3 approval-img"></span> AICTE,
                        UGC</span></span></div>
            <ul class="   clg-fee-review tile_details_div p-0 list-unstyled w-100 d-flex overflow-hidden">
                <li class="   lr"><a data-ga-event-category="courses-fees"
                        data-is-listing-college-card="true" class="   pointer"
                        href="#"><span
                            class="   lr-key text-lg text-primary d-block font-weight-bold">₹
                            2,300,000</span><span title="MBA/PGDM - Total Fees"
                            class="   lr-value d-block "> MBA/PGDM - Total Fees </span></a></li>
                <li class="   lr"><a data-ga-event-category="courses-fees"
                        data-is-listing-college-card="true" class="   pointer"
                        href="#"><span
                            class="   lr-key text-lg text-primary d-block font-weight-bold">₹
                            2,320,000</span><span title="Executive MBA - Total Fees"
                            class="   lr-value d-block "> Executive MBA - Total Fees </span></a></li>
                <li class="   lr"><a data-ga-event-category="reviews" data-is-listing-college-card="true"
                        class="  "
                        href="#"><span
                            class="   lr-key text-lg text-primary d-block font-weight-bold"> 9 / 10
                        </span><span class="   lr-value d-block">Based on 154 User reviews</span></a></li>
            </ul>
        </div>
        <div class="   media-rank"><a data-ga-event-category="rank" data-is-listing-college-card="true"
                class="  "
                href="#"><span
                    class="   rank-container pointer"><span class="   rank-span">Ranked 1 out of
                        50<div class="   rank-name">Financial Express</div></span></span></a></div>
        <div class="   clg-links w-100 text-center px-2 py-0"><a
                title="IIM Bangalore - Indian Institute of Management, Bangalore - Admission Details 2022"
                data-ga-event-category="admission" data-is-listing-college-card="true"
                class="   college_nav_tab first_tab hover-underline"
                href="#">Admission
                2022</a><a title="IIM Bangalore - Indian Institute of Management, Bangalore - Reviews "
                data-ga-event-category="reviews" data-is-listing-college-card="true"
                class="   college_nav_tab first_tab hover-underline"
                href="#">Reviews</a><a
                title="IIM Bangalore - Indian Institute of Management, Bangalore - Course &amp; Fees Details "
                data-ga-event-category="courses-fees" data-is-listing-college-card="true"
                class="   college_nav_tab first_tab hover-underline"
                href="#">Courses
                &amp; Fees</a></div>
        <div class="   d-flex align-items-center"><button type="button" data-csm-track="true"
                data-csm-value="Apply" data-is-listing-college-card="true"
                class="   clg-apply  apply-now-button d-flex align-self-center border text-uppercase"><span
                    class="   pointer-none icon icon-white mr-1 spirit-image3"></span>Apply
                Now</button><button type="button" data-csm-track="true" data-csm-value="Brochure"
                data-is-listing-college-card="true"
                class="   clg-brochure  download_brouchure border d-flex align-self-center bg-white text-uppercase "><span
                    class="   pointer-none icon mr-1 spirit-image3"></span>Brochure</button></div>
    </div>
</div> -->




<!-- Card -->
<!-- <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        Card img
        <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
        </mdb-card-img>
        <a>
            <div class="mask"></div>
        </a>
    </div>
    Card content
    <mdb-card-body>
        Title
        <mdb-card-title>
            <h4>Card Title</h4>
        </mdb-card-title>

        Text
        <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
        </mdb-card-text>

        <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    </mdb-card-body>
</mdb-card> -->


<!-- <mdb-card>
    <div class="view rgba-white-slight waves-light ">

        <div class="card-image d-flex flex-column justify-content-between custom-padding"
            style="background-image: url('https://images.collegedunia.com/public/college_data/images/appImage/25602_IIMB_New.jpg?h=130&w=305&mode=stretch '); background-size: cover; height: 150px;">
            <p class="rating">Rating: 10/10</p>

            <div class="name-location-image">
                <img class="clg-emblem"
                    src="https://images.collegedunia.com/public/college_data/images/logos/1434977143jpjpjpjpj.jpg?h=40&w=40&mode=stretch"
                    alt="iitm college">
                />
                <div class="name-location-container">
                    <h1 class="name ">{{college.collegeName}}</h1>
                    <p class="location ml-2">{{college.collegeLocation}}</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="mdb-card-pad  d-flex flex-column justify-content-end ">
            <div class="details">
                <div class="   media-rank">
                    <a class="message">RANKED 1 OUT OF 50 FINANCIAL EXPRESS</a>
                </div>
                <div class="details-section">
                    <p class="fee">20,00,000 Fee</p>
                    <mdb-card-text>11th rank over 200 colleges</mdb-card-text>
                </div>
            </div>
            <div class="d-flex flex-row">
                <button type="button" href="#" class="apply-button" mdbWavesEffect>Apply</button>
                <button type="button" class="broucher" mdbWavesEffect>broucher</button>
            </div>

        </div>
    </div>
</mdb-card> -->